<h1><code ng:non-bindable=""></code>
<span class="hint"></span>
</h1>
<div><ul doc-tutorial-nav="9"></ul>

<p>このステップではカスタム表示フィルターの作り方を学びます。</p>

<div doc-tutorial-reset="9">
</div>

<p>詳細ページの１つに移動して下さい。</p>

<p>前ステップでは、詳細ページはスマートフォンに特定の機能があるかどうかを示すために"true"または"false"を表示していました。カスタムフィルターを使ってこうしたテキスト文字列を記号（✓を"true"、✘を"false"の代わりに）に変換しました。フィルターのコードがどのような感じなのか見てみましょう。</p>

<p>主な変更点は以下に挙げます。完全な差分は<a href="https://github.com/angular/angular-phonecat/compare/step-8...step-9">GitHub</a>で見ることができます：</p>

<h3>カスタムフィルター</h3>

<p>新しいカスタムフィルターを作るために、<code>phonecatFilters</code>モジュールを作り、カスタムフィルターをこのモジュールに登録します：</p>

<p><strong><code>app/js/filters.js</code>:</strong>
<pre class="prettyprint linenums">
angular.module('phonecatFilters', []).filter('checkmark', function() {
  return function(input) {
    return input ? '\u2713' : '\u2718';
  };
});
</pre>

<p>フィルターの名前は"checkmark"です。<code>input</code>は<code>true</code>または<code>false</code>に評価され、その値に応じて予め選んだtrueまたはfalseを表す２つのユニコード文字（<code>\u2713</code>と<code>\u2718</code>）のうち１つが返されます。</p>

<p>こうしてフィルターが準備できたので、<code>phonecatFilters</code>モジュールをメインの<code>phonecat</code>モジュールが依存するものとして登録します。</p>

<p><strong><code>app/js/app.js</code>:</strong>
<pre class="prettyprint linenums">
...
angular.module('phonecat', ['phonecatFilters']).
...
</pre>

<h3>テンプレート</h3>

<p>フィルターのコードは<code>app/js/filters.js</code>の中にあるので、このファイルをレイアウトテンプレートの中に含める必要があります。</p>

<p><strong><code>app/index.html</code>:</strong>
<pre class="prettyprint linenums">
...
 &lt;script src="js/controllers.js"&gt;&lt;/script&gt;
 &lt;script src="js/filters.js"&gt;&lt;/script&gt;
...
</pre>

<p>Angularテンプレートの中でフィルタを使う記法は次の通りです：</p>

<pre><code>{{ expression | filter }}
</code></pre>

<p>スマートフォン詳細テンプレートの中でこのフィルターを使ってみましょう：</p>

<p><strong><code>app/partials/phone-detail.html</code>:</strong>
<pre class="prettyprint linenums">
...
    &lt;dl&gt;
      &lt;dt&gt;Infrared&lt;/dt&gt;
      &lt;dd&gt;{{phone.connectivity.infrared | checkmark}}&lt;/dd&gt;
      &lt;dt&gt;GPS&lt;/dt&gt;
      &lt;dd&gt;{{phone.connectivity.gps | checkmark}}&lt;/dd&gt;
    &lt;/dl&gt;
...
</pre>

<h3>テスト</h3>

<p>他の全てのコンポーネントと同様、フィルターはテストされるべきです。そしてこのテストを書くのも非常に簡単です。</p>

<p><strong><code>test/unit/filtersSpec.js</code>:</strong>
<pre class="prettyprint linenums">
describe('filter', function() {

  beforeEach(module('phonecatFilters'));


  describe('checkmark', function() {

    it('should convert boolean values to unicode checkmark or cross',
        inject(function(checkmarkFilter) {
      expect(checkmarkFilter(true)).toBe('\u2713');
      expect(checkmarkFilter(false)).toBe('\u2718');
    }));
  });
});
</pre>

<p>フィルターのテストが実行される前に、テストインジェクターを<code>phonecatFilters</code>モジュールで設定しておく必要があることに注意して下さい。</p>

<p>次の出力をTestacularのタブで確認できるはずです：</p>

<pre><code>    Chrome 22.0: Executed 4 of 4 SUCCESS (0.034 secs / 0.012 secs)
</code></pre>

<h2>実験</h2>

<ul>
<li><p>いくつかの<a href="api/ng.$filter"><code>Angularのビルトインフィルター</code></a>を使って実験してみましょう。次のバインディングを<code>index.html</code>に追加して下さい：</p>

<ul><li><code>{{ "lower cap string" | uppercase }}</code></li>
<li><code>{{ {foo: "bar", baz: 23} | json }}</code></li>
<li><code>{{ 1304375948024 | date }}</code></li>
<li><code>{{ 1304375948024 | date:"MM/dd/yyyy @ h:mma" }}</code></li></ul></li>
<li><p>インプット要素を使ってモデルを作り、フィルターが適用されたバインディングに結びつけることもできます。次をindex.htmlに加えましょう：</p>

<pre><code>&lt;input ng-model="userInput"&gt; Uppercased: {{ userInput | uppercase }}
</code></pre></li>
</ul>

<h2>まとめ</h2>

<p>これでカスタムフィルターの書き方、テストの仕方を学びました。<a href="tutorial/step_10">ステップ10</a>に進んでスマートフォン詳細ページをさらに進化させるためにAngularをどのように使うことができるかを学びましょう。</p>

<ul doc-tutorial-nav="9"></ul></div>
