<h1><code ng:non-bindable=""></code>
<span class="hint"></span>
</h1>
<div><ul doc-tutorial-nav="4"></ul>

<p>このステップでは、ユーザーがスマートフォンリスト内のアイテムの並びをコントロールできるようにします。動的な並び替えは、新しいモデルプロパティを作ってリピーターと繋ぎ、あとはデータバインディングの魔法に任せることで実装します。</p>

<div doc-tutorial-reset="4">
</div>

<p>検索ボックスに加え、スマートフォンの並びをユーザーがコントロールするためのドロップダウンメニューが表示されているはずです。</p>

<p>ステップ３と４の主な変更点は以下に挙げます。完全な差分は<a href="https://github.com/angular/angular-phonecat/compare/step-3...step-4">GitHub</a>で見ることができます：</p>

<h3>テンプレート</h3>

<p><strong><code>app/index.html</code>:</strong>
<pre class="prettyprint linenums">
  Search: &lt;input ng-model="query"&gt;
  Sort by:
  &lt;select ng-model="orderProp"&gt;
    &lt;option value="name"&gt;Alphabetical&lt;/option&gt;
    &lt;option value="age"&gt;Newest&lt;/option&gt;
  &lt;/select&gt;


  &lt;ul class="phones"&gt;
    &lt;li ng-repeat="phone in phones | filter:query | orderBy:orderProp"&gt;
      {{phone.name}}
      &lt;p&gt;{{phone.snippet}}&lt;/p&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
</pre>

<p>次のような変更を<code>index.html</code>テンプレートに加えました：</p>

<ul>
<li><p>まず始めに、<code>orderProp</code>と名付けられたhtml要素<code>&lt;select&gt;</code>を追加しました。予め用意された２つのソート順からユーザーが選択できるようにするためです。</p>

<p><img  class="diagram" src="img/tutorial/tutorial_04.png"></p></li>
<li><p>続いて<code>filter</code>フィルターと<a href="api/ng.filter:orderBy"><code><code>orderBy</code></code></a>フィルターを繋ぎ、リピーターに対する入力を更に処理をできるようにしました。<code>orderBy</code>は入力として配列を受け取り、そのコピーを並び替えてから返すフィルターです。</p></li>
</ul>

<p>Angularはselect要素と<code>orderProp</code>モデルとの間に双方向のデータバインディングを作り出します。<code>orderProp</code>はさらに<code>orderBy</code>フィルターへの入力として使われます。</p>

<p>ステップ３のデータバインディングとリピーターについての節で説明したとおり、モデルが変化すればいつでも（例えばユーザーがドロップダウンメニューで並び順を変更したことによって）、Angularのデータバインディングはビューを自動的に更新させます。大量のDOM操作のコードは一切必要ありません！</p>

<h3>コントローラー</h3>

<p><strong><code>app/js/controllers.js</code>:</strong>
<pre class="prettyprint linenums">
function PhoneListCtrl($scope) {
  $scope.phones = [
    {"name": "Nexus S",
     "snippet": "Fast just got faster with Nexus S.",
     "age": 0},
    {"name": "Motorola XOOM™ with Wi-Fi",
     "snippet": "The Next, Next Generation tablet.",
     "age": 1},
    {"name": "MOTOROLA XOOM™",
     "snippet": "The Next, Next Generation tablet.",
     "age": 2}
  ];

  $scope.orderProp = 'age';
}
</pre>

<ul>
<li><p><code>phones</code>モデル（スマートフォンの配列）を変更して、各スマートフォンのレコードに<code>age</code>プロパティを追加しました。この属性はスマートフォンを年数で並び替えるために使われます。</p></li>
<li><p><code>orderProp</code>のデフォルト値を<code>age</code>に設定するための１行をコントローラーに加えました。ここでデフォルト値を設定しなかった場合、ユーザーがドロップダウンメニューからオプションを選択するまでモデルは未初期化のままになるでしょう。</p>

<p>これは双方向データバインディングについて説明するいい機会です。アプリがブラウザの中に読み込まれた時、ドロップダウンメニューでは"Newest"が選ばれています。これはコントローラーの中で<code>orderProp</code>を<code>'age'</code>に設定したためです。これによってモデルからUIの方向へのバインディングが機能します。さて、ここでもしドロップダウンメニューから"Alphabetically"を選ぶと、モデルも同様に更新されてスマートフォンは並び替えられます。これがデータバインディングのする逆方向（UIからモデル）の仕事です。</p></li>
</ul>

<h3>テスト</h3>

<p>加えた変更はユニットテストとエンドツーエンドのテストの両方で確認されるべきです。まず始めにユニットテストの方を見てみましょう。</p>

<p><strong><code>test/unit/controllersSpec.js</code>:</strong>
<pre class="prettyprint linenums">
describe('PhoneCat controllers', function() {

  describe('PhoneListCtrl', function(){
    var scope, ctrl;

    beforeEach(function() {
      scope = {},
      ctrl = new PhoneListCtrl(scope);
    });


    it('should create "phones" model with 3 phones', function() {
      expect(scope.phones.length).toBe(3);
    });


    it('should set the default value of orderProp model', function() {
      expect(scope.orderProp).toBe('age');
    });
  });
});
</pre>

<p>このユニットテストはデフォルトの並び順プロパティが設定されていることを確認しています。</p>

<p>JasmineのAPIを使って<code>beforeEach</code>ブロックにコントローラーの生成コードを入れました。このブロックは親の<code>describe</code>ブロックの全てのテストで共有されます。</p>

<p>次の出力をTestacularのタブで確認できるはずです：</p>

<pre><code>    Chrome 22.0: Executed 2 of 2 SUCCESS (0.021 secs / 0.001 secs)
</code></pre>

<p>ではエンドツーエンドのテストの方を見てみましょう。</p>

<p><strong><code>test/e2e/scenarios.js</code>:</strong>
<pre class="prettyprint linenums">
...
    it('should be possible to control phone order via the drop down select box',
        function() {
      //let's narrow the dataset to make the test assertions shorter
      input('query').enter('tablet');

      expect(repeater('.phones li', 'Phone List').column('phone.name')).
          toEqual(["Motorola XOOM\u2122 with Wi-Fi",
                   "MOTOROLA XOOM\u2122"]);

      select('orderProp').option('Alphabetical');

      expect(repeater('.phones li', 'Phone List').column('phone.name')).
          toEqual(["MOTOROLA XOOM\u2122",
                   "Motorola XOOM\u2122 with Wi-Fi"]);
    });
...
</pre>

<p>エンドツーエンドのテストはセレクトボックスの持つ並び替えの仕組みが正しく機能することを確認します。</p>

<p><code>./scripts/e2e-test.sh</code>を再実行するか、エンドツーエンドテストの<code>runner.html</code>のブラウザタブを更新してテストを実行、もしくは<a href="http://angular.github.com/angular-phonecat/step-4/test/e2e/runner.html">Angular's server</a>でテストの実行を見て下さい。</p>

<h2>実験</h2>

<ul>
<li><p><code>PhoneListCtrl</code>コントローラーから<code>orderProp</code>の値を設定している文を削除し、Angularがドロップダウンリストに一時的に"unknown"オプションを追加していることと、並びがソートされていないことを確認して下さい。</p></li>
<li><p><code>{{orderProp}}</code>バインディングを<code>index.html</code>テンプレートに追加して、現在値を文字列で表示するようにして下さい。</p></li>
</ul>

<h2>まとめ</h2>

<p>これでソートされるリストをアプリに追加し、アプリをテストしました。<a href="tutorial/step_05">ステップ5</a>に進んでAngularのサービスとAngularがどのように依存性注入を使っているかを学びましょう。</p>

<ul doc-tutorial-nav="4"></ul></div>
