<h1><code ng:non-bindable=""></code>
<span class="hint"></span>
</h1>
<div><p>私たちは、あなたが楽に Angular を使いはじめられる事を願っています。あなたが Angular のエキスパートになっていく道のりに、次のようなステップをまとめておきました。</p>

<ol>
<li><a href="guide/concepts">概念的な概要</a>を読む。<br/>Angularの用語とAngularのコンポーネントがどのように連携して動作するかを理解してください。</li>
<li><a href="tutorial/index">AngularJSチュートリアル</a>を行う。<br/>node.jsのWebサーバの上で、テストを備えたアプリケーションの開発を、最初から最後まで通してやりましょう。Angularの主な特徴を全てカバーしており、あなたの開発環境をセットアップする方法も教えてくれます。</li>
<li><a href="https://github.com/angular/angular-seed">Seed App プロジェクトテンプレート</a>をダウンロードまたは、クローンする。<br/>アプリケーションの開発を始めるためのディレクトリレイアウト、テストハーネス、スクリプトがついたスターターアプリが提供されます。</li>
</ol>

<h2>さらなるステップ</h2>

<h3>動画を見る</h3>

<p>もし、まだホームページにある動画を見たことがなければ見てみてください:</p>

<ul>
<li><a href="http://www.youtube.com/watch?v=WuiHuZq_cg4&amp;list=PL173F1A311439C05D&amp;context=C48ac877ADvjVQa1PpcFONnl4Q5x8hqvT6tRBTE-m0-Ym47jO3PEE%3D">AngularJSの紹介</a></li>
<li><a href="http://www.youtube.com/watch?v=Yg-R1gchccg&amp;list=PL173F1A311439C05D&amp;context=C48ac877ADvjVQa1PpcFONnl4Q5x8hqvT6tRBTE-m0-Ym47jO3PEE%3D">ディレクティブを作る</a></li>
<li><a href="http://www.youtube.com/watch?v=IRelx4-ISbs&amp;list=PL173F1A311439C05D&amp;context=C48ac877ADvjVQa1PpcFONnl4Q5x8hqvT6tRBTE-m0-Ym47jO3PEE%3D">サーバと通信する</a></li>
</ul>

<p>また<a href="http://www.youtube.com/user/angularjs">YouTube チャンネル</a>には他にも AngularJS のビデオプレゼンやチュートリアルがあるので見てみて下さい。</p>

<h3>フォローする</h3>

<ul>
<li><a href="http://groups.google.com/forum/?fromgroups#!forum/angular">メーリングリスト</a>を購読する。質問はここに！</li>
<li><a href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Fangularjs.org%2F&amp;region=follow_link&amp;screen_name=angularjs&amp;source=followbutton&amp;variant=2.0">ツイッター</a>をフォローする。</li>
<li><a href="https://plus.google.com/110323587230527980117/posts">Google+</a>のサークルに私たちを追加する。</li>
</ul>

<h3>さらに読む</h3>

<p>AngularJSのドキュメントは、概念をカバーする<a href="guide/index">開発者ガイド</a>と構文と使い方のための<a href="api/index">APIリファレンス</a>を含んでいます。</p></div>
